.box {
display: flex;
flex-direction: column;
gap: 13px;
align-items: flex-start;
flex-shrink: 0;
max-width: 626px;
width: 100%;
}

.search {

  width: 100%;
  padding: 20px 24px;
  box-shadow: 0 7px 12px 0 rgba(100, 100, 111, 0.2);
}

.search::placeholder {
  font-weight: 700;
  font-size: 22px;
  color: #656ec2;
}

.count {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #282626;
  padding-left: 40px;
}

.err {
  font-weight: 700;
  color: #820A0A;
}
